<html>
    <title>Write Page</title>

    <head></head>
    <body>
        <table>
            <form name="write_form" method="POST" action="/write">
            <tr>
                <td>작성자</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type="text" name="contents"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit"> </td>
            </tr>
        </table>
    </form>


    </body>
</html>